body{
			margin:0;
			padding:0px 50px;
		}
		a{
			text-decoration:none;
		}
		.header_area{
			width:100%;
			
			
		}
		.logoarea{
			width:35%;
			float:left;
			background-color:#0fa99b;
		}
		.logoarea h1{
			padding-left:30px;
		}
		.menu_area{
			width:65%;
			float:left;
			background-color:#0fa99b;
		}
		.menu_area ul{
			list-style:none;
			text-align:right;
		}
		.menu_area ul li{
			display:inline-block;
			padding:15px;
			color:white;
		}
		.menu_area ul li a{
			
			color:white;
		}
		.content_area{
			height:500px;
			width:100%;
			overflow:hidden;
		}
		.content_left{
			width:35%;
			float:left;
		}
		
		.content_left a{
			font-weight: bold;
			color:#0fa99b;
		}
		.content_left ul li a:hover{
			text-decoration: none;
			color:#e81c0f;

		}  
		.content_right{
			width:65%;
			float:left;
		}
		.footer_area{
			width:100%;
			overflow:hidden;
			margin-top: 450px;
		}
		.footer_area h3{
			text-align:center;
		}
		.footer_container{
	        width:100%;
	        background-color: black;
	    	text-align: center;
	    	padding: 10px;
	    	margin-top: 410px;

        }

.footer_container p{
	color: gray;
	margin-top: 20px;
}
		.content_right_l{
			width:50%;
			float:left;
		}
		.content_right_l{
			width:50%;
			float:left;
		}

		.hr{
	margin-right: 150px;
}
.vl {
  border-left: 1px solid ;
  height: 250px;
  position: absolute;
  left: 50%;
  margin-top:150px;
  margin-left: -280px;
  top: 0;

}